* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --alizarin-crimson: rgba(218, 37, 53, 1);
  --alabaster: rgb(251, 251, 251);
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1.2rem 2rem;
}

.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.company-name--red {
  color: var(--alizarin-crimson);
}

.menu-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.apresentation {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.apresentation__food-name {
  font-size: 2rem;
  font-weight: 600;
}

.apresentation__description {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.apresentation__button {
  margin-top: 2rem;
  padding: 0.8rem;

  font-size: 1.2rem;
  font-weight: 600;
  color: var(--alabaster);
  background-color: var(--alizarin-crimson);
  border: none;
  border-radius: 0.4rem;
}