* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --alizarin-crimson: rgba(218, 37, 53, 1);
  --alabaster: rgb(251, 251, 251);
  --inter-font: 'Inter', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1.2rem 2rem;
}

.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.company-name--red {
  color: var(--alizarin-crimson);
}

.menu-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.apresentation {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.apresentation__food-name {
  font-size: 2rem;
  font-weight: 600;
}

.apresentation__description {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--inter-font);
  line-height: 1.8rem;
}

.apresentation__button {
  margin-top: 2rem;
  padding: 0.8rem;

  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--inter-font);
  color: var(--alabaster);
  background-color: var(--alizarin-crimson);
  border: none;
  border-radius: 0.4rem;
}

.preparation-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.preparation-style__dish {
  border-radius: 0.5rem;
}

.preparation-style__title {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.preparation-style__description {
  margin-top: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
  font-family: var(--inter-font);
  font-weight: 400;
}

.preparation-style__link {
  margin-top: 1.4rem;
  color: var(--alizarin-crimson);
  text-align: center;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: 500;
}