* {
  margin: 0;
  padding: 0;
  color: var(--mine-shaft);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --alizarin-crimson: rgba(218, 37, 53, 1);
  --alabaster: rgb(251, 251, 251);
  --concrete: rgb(243, 243, 243);
  --dove-gray: rgba(97, 97, 97, 1);
  --mine-shaft: rgba(41, 41, 41, 1);
  --inter-font: 'Inter', sans-serif;
  --desktop-title-size: 3rem;
  --desktop-subtext-font-size: 1.6rem;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 1.2rem 2rem;
}

.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.company-name--red {
  color: var(--alizarin-crimson);
}

.header__options,
.header__button {
  display: none;
}

.menu-icon {
  width: 1.7rem;
  height: 1.7rem;
}

.apresentation {
  margin-top: 3rem;
  display: flex;
}

.apresentation__content {
  display: flex;
  flex-direction: column;
}

.apresentation__image {
  display: none;
}

.content__food-name {
  font-size: 2rem;
  font-weight: 600;
}

.content__description {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--inter-font);
  line-height: 1.8rem;
}

.content__button {
  margin-top: 2rem;
  padding: 0.8rem;

  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--inter-font);
  color: var(--alabaster);
  background-color: var(--alizarin-crimson);
  border: none;
  border-radius: 0.4rem;
}

.preparation-style {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preparation-style__image {
  border-radius: 0.5rem;
}

.preparation-style__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preparation-style__title {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.preparation-style__description {
  margin-top: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
  font-weight: 400;
  font-family: var(--inter-font);
}

.preparation-style__link {
  margin-top: 1.4rem;
  color: var(--alizarin-crimson);
  text-align: center;
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: 500;
}

.populars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.populars__title {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Text wraps in a certain width */
.populars__card {
  position: relative;
  min-height: 26rem;
  margin: 3rem 0;
  padding: 2.6rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  border-radius: 0.4rem;
  background-color: var(--concrete);
}

.populars__card .card__image {
  position: absolute;
  width: 220px;
  height: 220px;
  top: -2.5rem;
}

.populars__card .card__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.populars__card .card__description {
  margin: 1rem 0;
  color: var(--dove-gray);
  text-align: center;
  line-height: 1.8rem;
  font-weight: 400;
  font-family: var(--inter-font);
}

.populars__card .card__price {
  font-size: 2rem;
  font-weight: 400;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comments__title {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.comments__cards {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.comments__card {
  min-height: 15rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 0.4rem;
  background-color: var(--concrete);
}

.comments__card .card__image {
  width: 60px;
  height: 60px;
}

.comments__card .card__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.comments__card .card__comment {
  margin-top: 1rem;
  text-align: center;
  color: var(--dove-gray);
  font-weight: 400;
  font-family: var(--inter-font);
}

.comments__card .card__icons {
  display: flex;
  column-gap: 0.5rem;
}

.location {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.location__image {
  width: 100%;
  min-height: auto;
}

.location__button {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid;
  border-radius: 1rem;
  background-color: var(--alabaster);
}

.button__icon {
  margin: 0 1rem;
  padding: 0.7rem 0;
}

.button__input {
  padding: 0.7rem 0;
  flex-grow: 1;
  border: none;
}

.button__input::placeholder {
  color: var(--mine-shaft);
  font-family: var(--inter-font);
  font-weight: 400;
  opacity: 1;
}

.button__search {
  padding: 0 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--alizarin-crimson);
}

.search__text {
  display: none;
}

.footer {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-family: var(--inter-font);
}

.footer__company-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer__company-name--red {
  color: var(--alizarin-crimson);
}

.footer__informations {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 4rem;
}

.informations__contact,
.informations__services,
.informations__about-us {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contact__title,
.services__title,
.about-us__title {
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.informations__contact span:not(:first-child),
.informations__services span:not(:first-child),
.informations__about-us span:not(:first-child) {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1261px) {
  .container {
    padding: 1.8rem 20rem;
  }

  .company-name {
    font-size: 2rem;
  }

  .header__options {
    display: flex;
    font-family: var(--inter-font);
    font-size: var(--desktop-subtext-font-size);
    font-weight: 500;
    column-gap: 5rem;
  }

  .header__button {
    display: block;
    padding: 0.4rem 2.4rem;

    background-color: transparent;
    border: 2px solid;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    font-family: var(--inter-font);
    font-weight: 600;
  }

  .menu-icon {
    display: none;
  }

  .apresentation {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .apresentation__content {
    width: 30vw;
  }

  .content__food-name {
    font-size: var(--desktop-title-size);
  }

  .content__description {
    line-height: 2.5rem;
    font-size: var(--desktop-subtext-font-size);
  }

  .content__button {
    width: 18vw;
    font-size: 1.6rem;
  }

  .apresentation__image {
    height: 60vh;
    display: block;
  }

  .preparation-style {
    margin-top: 6rem;
    flex-direction: row;
    column-gap: 8rem;
  }

  .preparation-style__image {
    width: 36vw;
  }

  .preparation-style__content * {
    text-align: start;
  }

  .preparation-style__title {
    font-size: 2.3rem;
  }

  .preparation-style__description,
  .preparation-style__link {
    font-size: 1.2rem;
  }

  .populars {
    margin-top: 6rem;
  }

  .populars__title {
    font-size: 2.3rem;
  }

  .populars__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .populars__card {
    max-width: 23vw;
    min-height: 26rem;
    border-radius: 2rem;
  }

  .populars__card .card__image {
    top: -4.5rem;
  }

  .comments {
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .comments__title {
    font-size: 2.3rem;
  }

  .comments__cards {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 2rem;
  }

  .comments__card {
    width: 30vw;
    padding-right: 6rem;
    align-items: flex-start;

    border-radius: 1rem;
  }

  .comments__card .card__image {
    width: 80px;
    height: 80px;
  }  
  
  .comments__card .card__title {
    font-size: 1.4rem;
  }
  
  .comments__card .card__comment {
    margin-top: 0;
    text-align: start;
  }

  .card__icon {
    width: 15px;
    height: 15px;
  }

  .location {
    margin-top: 6rem;
    align-items: flex-start;
  }

  .location__title {
    font-size: 2.3rem;
  }

  .location__image {
    border-radius: 0.6rem;
  }

  .location__button {
    width: 60%;
    margin-top: 3rem;
    align-self: center;

    border-radius: 0.4rem;
  }

  .button__input {
    padding-right: 1rem;
  }

  .button__search {
    padding: 0 2.2rem;
    align-self: normal;
    border-radius: 0 0.4rem 0.4rem 0;
  }

  .search__text {
    display: block;
    color: var(--alabaster);
    font-weight: 500;
    font-family: var(--inter-font);
  }

  .search__icon {
    display: none;
  }

  .footer {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__company-name {
    font-size: 2rem;
  }

  .footer__informations {
    column-gap: 10rem;
  }

  .informations__contact,
  .informations__services,
  .informations__about-us {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  .contact__title,
  .services__title,
  .about-us__title {
    font-size: 1.4rem;
  }

  .informations__contact span:not(:first-child),
  .informations__services span:not(:first-child),
  .informations__about-us span:not(:first-child) {
    font-size: 1.2rem;
  }
}
